.seasonal-cleanse{
  display: grid;
  grid-column: full-start/ full-end;
  grid-template-columns: inherit;
  background-color:#EBF7F5;
  padding-top: 9rem ;

  &__textbox{
    grid-column: center-start / col-end 6;
    @media only screen and (max-width: $bp-medium){
      grid-column: center-start / center-end;
      margin-bottom: 6rem;
    }

    p{
      font-size: 1.8rem;
    }
  }

  &__img{
    grid-column: col-start 8 / full-end;
    display: grid;
    align-items: center;
    @media only screen and (max-width: $bp-medium){
      grid-column: center-start / center-end;
      margin-bottom: 2rem;
    }

    img{
      filter: drop-shadow(0px 6px 29px rgba(0, 0, 0, 0.25));
      width: 90%;
    }
  }
}
